:root{
    --col-line:8;
    --row-line:16;
}

body{ background-color: black;}

.grid-container{
    display: grid;
    grid-template-columns:repeat(var(--col-line), 1fr);
    grid-template-rows: repeat(var(--row-line), 5vw);
    margin: auto;
}
.g1{
    width: auto;
    height: auto;
    object-fit: fill;
}
.g2{
    width: auto;
    height: auto;
    object-fit: fill;
}
.g3{
    width: auto;
    height: auto;
    object-fit: fill;
    grid-column: 5/6;
    grid-row:2/3;
}
.g4{
    width: auto;
    height: auto;
    object-fit: fill;
    grid-column: 6/7;
    grid-row: 2/3;
}
.g5{
    width: auto;
    height: auto;
    object-fit: fill;
    grid-column: 1/2;
    grid-row: 2/4;
}
.g6{
    width: auto;
    height: auto;
    object-fit: fill;
    grid-column: 6/7;
    grid-row: 5/7;
}
.g7{
    width: auto;
    height: auto;
    object-fit: fill;
    grid-column: 5/6;
    grid-row: 5/6;
}
.g8{
    width: 256px;
    height: 256px;
    object-fit: fill;
    grid-column: 1/2;
    grid-row: 5/6;
}
@media (width<=1200px){
    .g2{
        grid-row:12/12;
    }
    .g3{
        grid-row: 1/2;
        grid-column: 2/3;
    }
    .g4{
        grid-row: 6/7;
        grid-column: 2/3;
    }
    .g6{
        grid-column: 2/3;
        grid-row: 11/11;
    }
    .g7{
        grid-column: 1/1;
        grid-row: 9/9;
    }
}